---
import Button from './index.astro'
import { LiveComponent, PackageDetails, PropsTable } from '../../internal-components/Components.ts'
---

<p>
	A <strong>button</strong> is a button that can be a button.
</p>

<Button />

<PackageDetails json={{}} />

<h3>
	Props
</h3>

<PropsTable props={{}} />

<h3>
	Examples
</h3>

<p>
	You can pass the <code>enabled</code> prop in to toggle.
</p>

<LiveComponent>{`<Toggle enabled />`}</LiveComponent>
