---
export async function getStaticPaths() {
	const fs = await import('node:fs/promises')

	let dir = new URL('../../components/', import.meta.url)

	let routes = []

	for (let entry of await fs.readdir(dir, { withFileTypes: true })) {
		let { name } = entry

		if (!name.startsWith('_') && entry.isDirectory()) {
			let entryURL = new URL(`${name}/documentation.astro`, dir)

			let [, heading, content] = /^(?:---\n([\W\w]+?)\n---\n?)([\W\w]+)$/.exec(
				await fs.readFile(entryURL, 'utf8').catch(() => '')
			)

			routes.push({
				params: { name },
				props: { content, heading, name }
			})
		}
	}

	return routes
}
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{Astro.props.name} | Components</title>
</head>

<body>{Astro.props.content}</body>
