---
const fs = await import('node:fs/promises')

let dir = new URL('../', import.meta.url)

let routes = []

for (let entry of await fs.readdir(dir, { withFileTypes: true })) {
	if (!entry.name.startsWith('_') && entry.isDirectory()) {
		let entryURL = new URL(`${entry.name}/documentation.astro`, dir)
		let exists = await fs.access(entryURL).then(() => true, () => false)

		if (exists) {
			routes.push(entry.name)
		}
	}
}
---
<nav>
	<ul>
		{
			routes.map(route => (
				<li>
					<a href={`/components/${route}`}>{route}</a>
				</li>
			))
		}
	</ul>
</nav>
