---
import { LiveComponent, PackageDetails, PropsTable } from '../../internal-components/Components.ts'
---

A <strong>toggle</strong> is a two-state button that can be either <code>on</code> or <code>off</code>.

<LiveComponent>{`<Toggle />`}</LiveComponent>

<PackageDetails json={{}} />

<h3>
	Props
</h3>

<PropsTable props={{}} />

<h3>
	Examples
</h3>

You can pass the <code>enabled</code> prop in to toggle.

<LiveComponent>{`<Toggle enabled />`}</LiveComponent>
